<%- include ('../../partials/header.ejs') %>


  <div class="container">
    <hr>
    <div class="card mt-5">
      <div class="card-header">
        <h3>login de Admin</h3>
      </div>
      <div class="card-body">
        <form action="/authenticate" method="POST">
          <input type="email" name="email" class="form-control" placeholder="email@exemplo.com">
          <br>
          <input type="password" name="password" class="form-control" placeholder="******">
          <br>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success">Logar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <%- include ('../../partials/footer.ejs') %>